<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">My Portfolio</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h2>As you already know, My name is Manu Shrivastava.</h2>
            <p>My hobbies include sports, dancing and music. I love to travel and have good communication skills.</br> Reach out to me in contact section, or through LinkedIn. Let's have a chat.</br>Checkout my resume by scrolling down.</p>
        </section>

        <section id="about-content" class="about-section">
            <div class="about-container">
                <img src="https://th.bing.com/th?id=OIP.dhpIWR5_j9rcbt3QYvsCegHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="Resume Icon" class="resume-icon" />
                <h2>Oshawa, ON | 249.989.3899 | mymail.manu1@gmail.com </h2>
                <h3>Education</h3>
        <ul>
            <li>
                <strong>Post Graduate certification:</strong> Artificial Intelligence design and implementation.<br>
                Durham College, Oshawa, ON - Graduating September 2024<br>
                <ul>
                    <li>The course includes Mathematics for AI, AI Algorithms, and Studies in AI.</li>
                </ul>
            </li>
            <li>
                <strong>Post Graduate Diploma:</strong> Big Data Analytics<br>
                Georgian College, Barrie, ON - May 2023 to Dec 2023<br>
                <ul>
                    <li>The course covered the data system architecture of big data systems.</li>
                    <li>We learnt multiple tools, programming languages for data ETL including math for Analytics.</li>
                    <li>Developed a project for data scraping, analysis and visualization and hosted it on AWS.</li>
                </ul>
            </li>
        </ul>

        <h3>Qualifications and Technical Skills</h3>
        <ul>
            <li>Data ETL: Python, PowerBI, SSMS, APIs</li>
            <li>Data Analytics: Pandas, Statistics and Probability, Hypothesis formulation and Testing.</li>
            <li>Data Visualization: PowerBI, Tableau, Matplotlib, Plotly.</li>
            <li>Programming Language: Python, SaaS, Scala, R, C#, PHP, HTML5, JavaScript.</li>
            <li>Authentication and Authorization based .NET applications.</li>
            <li>Linux: Kali, Ubuntu.</li>
            <li>Data structuring language: DML and DDL using SQL, XML, JSON.</li>
            <li>Basics of Cloud: AWS (EC2, NACL, Security group, Web application hosting, Load balancers), GCP, AZURE.</li>
            <li>Databases: SQL Database/SQL PL, MSSQL Server, SSMS, Redis, Apache Hadoop, Spark, Cassandra, Kafka, Scala for RDD programming.</li>
            <li>Business Intelligence: Power Bi, Tableau, ARCGIS.</li>
            <li>Project Management: Jira, Azure, AGILE, SCRUM.</li>
            <li>Machine Learning: NumPy, Pandas, Keras, scikitlearn.</li>
            <li>Static Code Analysis (SAST) and Black box testing (DAST) of Web based Applications.</li>
            <li>Static Code Analysis for Native applications and Cloud Infrastructure.</li>
            <li>Virtual machines: VM box, EC2, Docker.</li>
        </ul>

        <h3>Experience</h3>
        <ul>
            <li>
                <strong>Photon Interactive: Security Analyst, July 2021 to March 2023</strong>
                <ul>
                    <li><strong>Pret-a-Manger: Web application security</strong>
                        <ul>
                            <li>Web application testing and monitoring the infrastructure for alerts and attacks.</li>
                            <li>Raised issues as tickets for discussion and remediation reported on JIRA.</li>
                            <li>Tools for monitoring and pipeline management: Microsoft Azure, GCP.</li>
                            <li>Security testing tools like Burp, Nmap, and CLI.</li>
                        </ul>
                    </li>
                    <li><strong>Credit One Bank: Web Infrastructure scan</strong>
                        <ul>
                            <li>Conducted cloud infrastructure configuration scanning using Nessus.</li>
                            <li>Developing Terraform (Infrastructure as Code) at a basic level.</li>
                            <li>Preparation of report and updating clients on security-related issues and remediation.</li>
                        </ul>
                    </li>
                    <li><strong>SeneGence: Web application security</strong>
                        <ul>
                            <li>Security of application evaluated in two parts: SAST and DAST.</li>
                            <li>Tests conducted via multiple tools that scan the source code of the application.</li>
                            <li>Manual tests completed to evaluate application for vulnerabilities.</li>
                        </ul>
                    </li>
                    <li><strong>Mister Car Wash: Amazon Web Services</strong>
                        <ul>
                            <li>Conducted configuration scan on ECS, EC2, S3 buckets, DynamoDB, IAM services by AWS.</li>
                            <li>Results of scan evaluated for false positives by comparing results from AWS CLI.</li>
                        </ul>
                    </li>
                    <li><strong>OIA Connect: Web application security testing</strong>
                        <ul>
                            <li>Security of application evaluated in two parts: Static analysis and Dynamic Assessment.</li>
                            <li>Tests conducted via multiple tools that scan the source code of the application.</li>
                            <li>Manual tests completed to evaluate application for vulnerabilities.</li>
                            <li>Report preparation and creating plans to rectify the bugs with developer team.</li>
                        </ul>
                    </li>
                    <li><strong>Fiserv: Security Automation via Chatbot</strong>
                        <ul>
                            <li>Chatbot (Hubot) development for automated security testing of web applications.</li>
                            <li>Integrating with Kali Linux tools for applications testing.</li>
                            <li>Dynamic analysis (DAST) tools integrated with chatbot.</li>
                            <li>Developing Python, Coffeescript programs to automate the DAST.</li>
                            <li>Reporting development progress to client on a daily basis.</li>
                        </ul>
                    </li>
                    <li><strong>L’Oréal: One Trust</strong>
                        <ul>
                            <li>Managing privacy and security for L’Oréal applications via One Trust tool.</li>
                            <li>Security enhancement functionalities provided are infrastructure management, Cookie and Cache management, privacy policy management, Notice publishing.</li>
                            <li>Completed multiple certifications related to One Trust tool for website management.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <h3>Projects</h3>
        <ul>
            <li>
                <strong>Durham College: Fish species prediction model, July 2024</strong>
                <ul>
                    <li>Created a deep neural network to predict the species of fish by using shape and weight as labels.</li>
                    <li>The model hosted as a web application on Render.com.</li>
                </ul>
            </li>
            <li>
                <strong>Georgian College: Data analysis from API, August 2023 to November 2023</strong>
                <ul>
                    <li>Data scraping using Python from the live data feed API and visualization using Google Charts.</li>
                    <li>Front end of the website built using Flask.</li>
                    <li>Database in use was Hadoop, set up using PySpark with a single cluster running on localhost.</li>
                    <li>Hosted as a webpage on Heroku as a website.</li>
                </ul>
            </li>
            <li>
                <strong>SRM University: Detection and Prevention of DDoS and SQL Injection attack by web application, Jan 2021 to May 2021</strong>
                <ul>
                    <li>Developed an application: HTML5, CSS, JavaScript, PHP, and Python as a prototype firewall for SQL Injection attack and DDoS attack.</li>
                    <li>Three interfaces: User, Attacker, and the Security Manager.</li>
                    <li>The User: helps us to save the data of the user in the database.</li>
                    <li>The Attacker: attacking the localhost server and database with DDoS and SQL injections.</li>
                    <li>Security manager: to unblock the malicious IP filtered by DSA and RSA algorithms.</li>
                    <li>Review of the CPU performance before and after an attack.</li>
                    <li>Comparison of DSA and RSA algorithm for runtime differences visualized using a bar graph.</li>
                </ul>
            </li>
            <li>
                <strong>Intern @ Tata Consultancy Services: Complaint Management System, April 2020 to April 2020</strong>
                <ul>
                    <li>The project developed using HTML5, CSS, JavaScript, MySQL.</li>
                    <li>A local host MAMP web server for database.</li>
                    <li>Interface options with a user login and an administrator login.</li>
                    <li>Administrator login had access to user data and complaints.</li>
                </ul>
            </li>
            <li>
                <strong>Intern @ BSES Rajdhani Power Ltd.: Asset Tracking System, Jun 2019 – Jul 2019</strong>
                <ul>
                    <li>Application for tracking electric meters in the warehouse of BSES.</li>
                    <li>Developed web application front end.</li>
                    <li>Visual Studio Code 2017 development platform.</li>
                    <li>Oracle 12c used to store and process data using SQL queries.</li>
                </ul>
            </li>
        </ul>

        <h3>Certifications</h3>
        <ul>
            <li>SaaS Programming | SaaS Cloud | Sept 2023 | Skill Enhancement</li>
            <li>API Security Architect | API Academy | Dec 2022 | Skill Enhancement</li>
            <li>Global Anti-Corruption/Bribery 4.0 | Photon University | Oct 2022 | Skill Enhancement</li>
            <li>Information Security Awareness | Photon University | Oct 2022 | Skill Enhancement</li>
            <li>Ethical Hacking Essential | Code Red – EC Council | Sept 2022 | Skill Enhancement</li>
        </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

    <script src="/js/main.js"></script>
</body>

</html>
